body{
	font-family: Courier New;/*Verdana, sans-serif;*/
	background-image: url(../images/airplane.jpg);
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: grey;
	text-align: center;
}
a{
	text-decoration: none;
	color: white;
}
p{
	background: black;
	color: grey;
}
h4{
	background: black;
}
h6{
	background:black
}
/*-----------------------------------------------PINAKATOP--------------------------------------------------------------*/
.u-pull-left {
	position: fixed;
    top: 5px;
    left: 7px;
    z-index: 998;
	background: black;
	padding:5px;
	border-radius:50%;
	color:white;
  }
.u-pull-left:hover{
	opacity: 0.6;
}
.overlay1 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay1 a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay1 a:hover, .overlay1 a:focus {
    color: #f1f1f1;
}

.overlay1 .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay1 a {font-size: 20px}
  .overlay1 .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/*-----------------------------------------------COVER--------------------------------------------------------------*/
.cover{
	padding: 20px 20px;
	display: grid;
	grid-gap: 0;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 50px;
}
.container {
    position: relative;
    width: 300px;
    height: 300px;
    display: inline-block;
	background-color: black;
}

.image {
    display: block;
    width: 300px;
    height: 300px;
}
.text {
    font-size: 19px;
    position: absolute;
    top: 40%;
    left: 48%;
    transform: translate(-50%, -50%);
}
.overlayFade{
    height: 100%;
    width:100%;
    top:0;
    left:0;
    background-color: black;
}
.overlay {
    position: absolute;
    opacity: 0;
    transition:all .3s ease;
    background-color: black;
}
.container:hover .overlayFade {
    opacity: 1;
}
/*----------------------------ABOUT--------------------------------------*/
#about{
	text-align: left;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr;
	grid-gap: 50px;
	background: black;
	padding: 70px;
	color: grey;
	margin:40px;
	margin-bottom: 70px;
}
#ab{
	color: white;
	padding:3px
}
.linky{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}
#links{
	transition:all .3s ease;
}
#links:hover{
	opacity: 0.6;
}
.button{
	border-radius: 50%;
}
/*----------------------------SKILLS--------------------------------------*/
#skills{
	padding: 100px;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 5px;
}
#par, #par2, #par3{
	font-size: 20px;
	line-height:30px;
	background: black;
	padding: 50px;
	transition:all .3s ease;
}
#par:hover{
	background-image: url(../images/ate.jpg);
	background-position: left center;
	background-size: auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
 #par2:hover {
	background-image: url(../images/ateg.jpg);
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
 }
#par3:hover{
	background-image: url(../images/ategg.jpg);
	background-position: right center;
	background-size: auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
/*----------------------------SLIDESHOW--------------------------------------*/
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: 40px;
  padding: 70px;
  margin-bottom: 70px;
}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/*---------------------------WORK-------------------------*/
#work{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	background:black;
	padding-top: 100px;
	padding-bottom: 100px;
}
#circle1, #circle2, #circle3, #circle4{
	background-image: url(../images/airplane.jpg);
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border-radius: 50%;
	padding: 50px;
	margin-top: 80px;
	margin-bottom: 80px;
	transition:all .3s ease;
}	
#circle1:hover{
	background-image: url(../images/s.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

}
#circle2:hover{
	background-image: url(../images/t.jpg);
	background-position: right center;
	background-size: cover;
	background-repeat: no-repeat;

}
#circle3:hover{
	background-image: url(../images/a.jpg);
	background-position: right center;
	background-size: cover;
	background-repeat: no-repeat;

}
#circle4:hover{
	background-image: url(../images/r.jpg);
	background-position: right center;
	background-size: cover;
	background-repeat: no-repeat;

}
/*---------------------CONTACTS------------------------------*/
#contact{
	background: black;
	padding: 70px;
	color: grey;
	margin:40px;
	margin-bottom: 70px;
}
.btn{
	color: black;
}
/*---------------------FOOTER------------------------------*/
#footer{
	padding: 10px;
}










